html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body{background:  #f2e6ff	;
         	}

.main_wrapper{
   width:1000px;
   height: auto;
   margin: auto;
   background: orange;
}

.header_wrapper{
	width:1000px;
	height: 100px;
	margin: auto;
}

.menubar{
	width:1000px;
	height: 50px;
	background: #a366ff;
}

#logo{
	float:left;
}

#banner{
	float:right;
}

#menu{
	padding: 0;
	margin: 0;
	line-height: 50px;
	float: left;
   
}

#menu li{

	list-style: none;
	display: inline;

}

#menu a{
	text-decoration: none;
	color: white;
	padding: 8px;
	margin: 5px;
	font-size: 18px;
	font-family: COMIC SANS MS;
}

#menu a:hover{
	color: orange;
    font-weight: bolder;

}

#form{

   float:right;
   padding-right: 8px;
   line-height: 50px;

}

.content_wrapper{

	width:1000px;	
	margin:auto;
	background: grey;

}

#content_area{
	width:800px;	
	float: left;
	background: orange;
    

}

#sidebar{
	width:200px;	
	float: right;
	background: white ;
	height: auto;
	position: relative;
}

#sidebar_title{
  background: black ;
  color: white;
  font-size: 22px;
  font-family: arial;
  padding: 10px;
  text-align: center;
}

#cat{
	text-align: left;
}

#cat li{
	list-style: none;
	display: block;
}

#cat a{
   color:black;
   padding: 8px;
   margin: 5px;
   text-decoration: none;
   font-family: comic sans ms;
   font-size: 17px;
}

#cat a:hover{
	color: orange;
    font-weight: bolder;

}

#cat img{

    border: 2px solid black;
	padding: 4px;
}

#products_box{
	width : 780px;
	text-align: center;
	margin-left: 30px;
	margin-bottom: 10px; 
	
}

#single_product{
	float: left; margin-left: 30px; padding: 10px;
}

#single_product img{
          border : 2px solid;
}


#shopping_cart{
	width: 800px;
	height: 45px;
	background: black;
	color: white ;
}


#footer{
	width:1000px;
	height: 100px;
	background: purple;
	clear: both;
	
	}